# Blockchain Configuration
CLUSTER=mainnet-beta
RPC_URL=https://api.mainnet-beta.solana.com

# Wallet Providers
PRIVY_APP_ID=cmd31bg2f00csk10mo5q2ln13
PRIVY_CLIENT_ID=pmK1GM4TF28PBw1dr2vwj47ecZSzVjN7wNYVnLwvqERt3nMHsBMJoALePJopsYrzmjZHdBwX9N7MVCYsHATXXAE
DYNAMIC_ENVIRONMENT_ID=046fbcea-1ae2-4a43-9131-f27db180f65f
DYNAMIC_API_KEY=dyn_h8QWC0Tm0ntp9dKyITmVmqdKQ3MNXviyWB5V4hT2ERhvWfxB1W2724MD

# Turnkey Wallet Configuration
TURNKEY_BASE_URL=https://api.turnkey.com
TURNKEY_RP_ID=host.exp.exponent
TURNKEY_RP_NAME=your_app_name
TURNKEY_ORGANIZATION_ID=your_turnkey_organization_id
TURNKEY_API_PUBLIC_KEY=your_turnkey_public_key
TURNKEY_API_PRIVATE_KEY=your_turnkey_private_key

# API Services
HELIUS_API_KEY=your_helius_api_key
TENSOR_API_KEY=your_tensor_api_key
COINGECKO_API_KEY=your_coingecko_api_key
BIRDEYE_API_KEY=your_birdeye_api_key
OPENAI_API_KEY=your_openai_api_key

# Backend Server
SERVER_URL=http://localhost:3000
